<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> {% block title %}Bikeloc - Agence de location scooter &amp; moto Paris - Réservation en ligne!
		{% endblock %}</title>
	<link rel="icon" type="image/png" href="{{ asset('/assets/imagesBIKELOC/b-logo.png') }}" />
	{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="{{ asset('/assets/css/animate.css') }}">
	<link rel="stylesheet" href="{{ asset('/assets/css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('/assets/css/p-navbar.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/b4ba124988.js" crossorigin="anonymous"></script>
	{% endblock %}
	{% block cssSpe %}
	{% endblock %}
</head>

<body>
	{% block header %}
	<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light rounded navbar-erudit">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
			aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<div class="container container-erudit-15">
				<div class="row">
					<div class="col-1"></div>
					<a href="/" class="col-3"><img class="logo navbar-brand col-6" style="width: 400px;"
							src="{{ asset('/assets/imagesBIKELOC/bikeloc-logo.png') }}" img=""></a>
					<div class="col-8">
						<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
							<li class="nav-item active">
								<a href="{{ path('bikeloc') }}" class="nav-link">Accueil</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('Vehicules') }}" class="nav-link">Véhicules</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('services') }}" class="nav-link">Location de 2 à 24 mois</a>
							</li>
							<div class="col-4"></div>
							<li class="nav-item">
								<a href="{{ path('inscription') }}" class="nav-link"><svg
										xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="feather feather-user">
										<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
										<circle cx="12" cy="7" r="4"></circle>
									</svg>Connexion | Inscription</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	{% endblock %}
	{% block backgroundSpe %}{% endblock %}
	{% block body %}

	{% endblock %}
	{% block footer %}
	<footer class="ftco-footer ftco-bg-dark ftco-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">
							<a href="#" class="logo">Bike<span>Loc</span>
							</a>
						</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate">
								<a href="#">
									<span class="icon-facebook"><svg xmlns="http://www.w3.org/2000/svg" width="24"
											height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
											class="feather feather-facebook">
											<path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z">
											</path>
										</svg></span>
								</a>
							</li>
							<li class="ftco-animate">
								<a href="#">
									<span class="icon-instagram">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
											stroke-linecap="round" stroke-linejoin="round"
											class="feather feather-instagram">
											<rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
											<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
											<line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
										</svg>
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Informations</h2>
						<ul class="list-unstyled">
							<li>
								<a href="#" class="py-2 d-block">Tous nos véhicules</a>
							</li>
							<li>
								<a href="#" class="py-2 d-block">Location scooter Paris</a>
							</li>
							<li>
								<a href="#" class="py-2 d-block">Conditions générales de location</a>
							</li>
							<li>
								<a href="#" class="py-2 d-block">FAQ</a>
							</li>
							<li>
								<a href="#" class="py-2 d-block">Location de 2 à 24 mois</a>
							</li>
							<li>
								<a href="#" class="py-2 d-block">Nous Contacter</a>
							</li>
							<li>
								<a href="#" class="py-2 d-block">Recrutement</a>
							</li>
							<li>
								<a href="#" class="py-2 d-block">Service de livraison et de récupération</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Customer Support</h2>
						<ul class="list-unstyled">
							<li>
								<a href="#" class="py-2 d-block">Ce qu'ils pensent de nous</a>
							</li>
							<li>
								<a href="#" class="py-2 d-block">Où nous trouver</a>
							</li>
							<li>
								<a href="#" class="py-2 d-block">Guide des 2, 3 et 4 roues</a>
							</li>
							<li>
								<a href="#" class="py-2 d-block">Spécialiste de l’univers motard</a>
							</li>
							<li>
								<a href="#" class="py-2 d-block">Le repaire des motards</a>
							</li>
							<li>
								<a href="#" class="py-2 d-block">Le repaire des motards</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li>
									<span class="icon icon-map-marker"></span>
									<span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>
								</li>
								<li>
									<a href="#">
										<span class="icon icon-phone"></span>
										<span class="text">+2 392 3929 210</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="icon icon-envelope"></span>
										<span class="text">info@yourdomain.com</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">


					<p class="col-12">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						Bikeloc, Inc. Tous droits réservés | Ce modèle a était réalisé par
						<a href="http://www.erudit-france.com/" target="_blank">ERUDIT-FRANCE</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
					<img class="col-3" src="https://bikeloc.fr/wp-content/uploads/2019/08/bikeloc-copyright.png" alt="">
				</div>
			</div>
		</div>
	</footer>
	{% endblock %}
</body>
{% block javascripts %}
<script>
	var arrayInfo = [
        "danger",
        "success",
        "warning"
    ];
    var arrayMsg = [
        "🔴Erreur",
        "😊Succès",
        "⚠️Attention"
    ];
	// When the user scrolls down 20px from the top of the document, slide down the navbar
	window.onscroll = function () { scrollFunction() };
	function scrollFunction() {
		if (window.scrollY > 100) {
			if (!document.getElementById("navbar").classList.contains("navbar-scroll-erudit")) {
				document.getElementById("navbar").classList.add("navbar-scroll-erudit");
				document.getElementById("navbar").classList.remove("navbar-no-scroll-erudit");
			}
		}
		if (window.scrollY == 0) {
			if (document.getElementById("navbar").classList.contains("navbar-scroll-erudit")) {
				document.getElementById("navbar").classList.remove("navbar-scroll-erudit");
				document.getElementById("navbar").classList.add("navbar-no-scroll-erudit");
			}
		}
	}
</script>
{% endblock %}
{% block java %}
{% endblock %}
</html>